<%# app/views/messages/_form.html.erb %>
<%= simple_form_for [chat, message], data: { turbo_frame: "_top" } do |f| %>
  <%= f.input :content, label: false, placeholder: "Ex: Peux-tu analyser les coutures de cette Jordan 4 ?", as: :string %>
  <%= f.input :photo, as: :file %>

  <div class="d-flex justify-content-end mt-2">
    <%# Utilisation de la nouvelle classe btn_sneaky de l'équipe %>
    <%= f.button :submit, 'Lancer l\'analyse', class: 'btn btn_sneaky' %>
  </div>
<% end %>
