// Define variables for your color scheme

// For example:
$red: #DD0028;
$blue: #332988;
$yellow: #FFD761;
$orange: #E67E22;
$green: #00FF84;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom colors
$magenta: #B300FF;

