<div class="container mt-5">


  <%= button_to "Ouvrir une nouvelle conversation", chats_path, method: :post, class: "btn btn-outline-primary btn-sm" %>
  <h2 class="mb-4">Mes anciennes conversations</h2>


  <% if @chats.empty? %>
    <div class="alert alert-light">
      Vous n'avez pas encore d'historique.
    </div>

  <% else %>
    <ul class="list-group">
      <% @chats.each do |chat| %>
        <li class="list-group-item d-flex justify-content-between align-items-center mb-2 shadow-sm rounded">
          <div>
            <h5 class="mb-1"><%= chat.title || "Nouvelle conversation" %></h5>
            <small class="text-muted">Créé le <%= chat.created_at.strftime("%d/%m/%Y à %H:%M") %></small>
          </div>

          <%= link_to "Ouvrir", chat_path(chat), class: "btn btn-outline-primary btn-sm" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
