.btn_sneaky {
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  background-color: #332988;
  color: white;
  padding: 15px 30px;

  &:hover{
    background-color: #B300FF;
    color: white;
  }

  &:active{
    background-color: #7E70FF;
    color: white;
  }
}

.btn_sneaky_outline {
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  border-color: #332988;
  border-width: 2px;
  color: #332988;
  padding: 15px 30px;

  &:hover{
  border-color: #B300FF;
  color: #B300FF;
  }

  &:active{
  border-color: #7E70FF;
  color: #7E70FF;
  }
}

.btn_sneaky_inline {
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  border-color: #332988;
  border-width: 2px;
  color: #332988;
  padding: 10px 20px;

  &:hover{
    background-color: #332988;
    color: white;
  }
}
