

.msg-bubble {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin: 5px;
  box-shadow: 0px 1px 2.5px 0px #332988;

  h4, h3 {
    color: #332988;
    font-size: 20px;
  }
}

.msg-bubble-user {
  border-radius: 5px;
  background-color: #edebff;
  padding: 20px;
  margin: 5px;
  box-shadow: 0px 1px 2.5px 0px #332988;
}
